//@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,700,300);
@import "foundation";

//$primary-color: #5592BB;
//$primary-color-hover: #305870;
//$primary-color: #00A0B0;
//$primary-color-hover: #3D9199;
$primary-color: #CC1423;
$primary-color-hover: #993D44;
//$secondary-color: #7F0200;
//$secondary-color-hover: #993F3D;
$secondary-color: #086FA5;
$secondary-color-hover: #1C658C;
$tertiary-color: #CC333F;
$tertiary-color-hover: #993D44;

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  //background-image: url('/assets/site/paper_fibers.png');
  //background-repeat: repeat;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 700;
  color: $primary-color;
  font-family: 'Raleway', 'Open Sans', sans-serif;
  //font-size: 3em;
}

h2 {
  font-weight: 400;
  color: $secondary-color;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-weight: 400;
  color: $secondary-color;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-weight: 400;
  color: $tertiary-color;
  font-family: 'Open Sans', sans-serif;
}

h4 a {
  font-weight: 400;
  color: $tertiary-color;
  font-family: 'Open Sans', sans-serif;
}

h4 a:hover {
  font-weight: 400;
  color: $tertiary-color-hover;
  font-family: 'Open Sans', sans-serif;
}

.post-title {
  margin: 0 1em 0 1em;
}

// Post meta class - used for the Date, Author information under Post
.meta {
  color: $secondary-color;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Adapted from Angular Foundation demo.css */
// $topbar-background-color: #5592BB;
// $topbar-hover-color: #4783A9;
// $topbar-shadow-dark: #266784;
// $topbar-shadow-light: #A9C2D0;
$topbar-background-color: transparent;
$topbar-hover-color: transparent;

.top-bar { 
  // box-shadow: 0 1px $topbar-shadow-dark, 0 4px $topbar-shadow-light;
}

.top-bar, .top-bar-section li a:not(.button) {
  background-color: $topbar-background-color;
}

// Title text
.top-bar .name h1 a {
  font-size: 24px;
  font-family: "Open Sans",sans-serif;
  font-weight: 700;
  color: $primary-color;
}

.top-bar .name h1 a:hover {
  color: $primary-color-hover;
}

// Menu
.top-bar .toggle-topbar.menu-icon {
  margin-right: -24px;
}

.top-bar .toggle-topbar.menu-icon a {
  color: $primary-color;
}

.top-bar .toggle-topbar.menu-icon a:hover {
  color: $primary-color-hover;
}

.top-bar-section li a:not(.button):hover {
  background-color: $topbar-hover-color;
}

.top-bar-section ul li:hover>a {
  background-color: $topbar-background-color;
}

.top-bar-section li:not(.has-form) a:not(.button){
  background-color: $topbar-background-color;
}

.top-bar-section li.has-dropdown.not-click>a:not(.button){
  background-color: $topbar-hover-color;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: $topbar-hover-color;
}

.top-bar-section ul li>a {
  font-size: 16px;
  font-family: "Open Sans",sans-serif;
  color: $primary-color;
}

.top-bar-section ul {
  background: $topbar-background-color;
}

.top-bar-section ul li {
  background: $topbar-background-color;
}

.top-bar-section ul li:hover:not(.has-form)>a {
  background: $topbar-background-color;
  color: $primary-color-hover;
}

.top-bar-section {
  padding-top: 0 !important;
}

.off-canvas-wrap section {
  padding-top: 0 !important;
}

.top-bar.expanded .title-area {
  background: $topbar-hover-color;
}

.top-bar.expanded .toggle-topbar a {
  //color: #FFF;
  color: $primary-color;
}

.top-bar.expanded .toggle-topbar a::after {
  -webkit-box-shadow: 1px 10px 1px 1px #FFF,1px 16px 1px 1px #FFF,1px 22px 1px 1px #FFF;
  box-shadow: 0 10px 0 1px #FFF,0 16px 0 1px #FFF,0 22px 0 1px #FFF;
}
