<header>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name"><h1><a href="/">PJC</a></h1></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li>
          <a href="/syllabus">Syllabus</a>
        </li>
        <li>
          <a href="/categories">Categories</a>
        </li>
      </ul>
      <ul class="right">
        <li>
          <a href="/questions">Questions</a>
        </li>
        <li>
          <a href="/search">Search</a>
        </li>
      </ul>
    </section>
  </nav>
</header>