<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/app.css" | prepend: site.baseurl }}">

  <!-- Custom JS -->
  <script src="{{ "/bower_components/modernizr/modernizr.js" | prepend: site.baseurl }}"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script> -->
  
  <!-- AngularJS v1.3.0 -->
  <script src="{{ "/bower_components/angularjs/angular.min.js" | prepend: site.baseurl }}"></script>
  
  <!-- Angular-Foundation -->
  <script src="{{ "/bower_components/angular-foundation/mm-foundation-tpls.js" | prepend: site.baseurl }}"></script>
  
  <!-- Ng App JS -->
  <script src="{{ "/js/pjchung.js" }}"></script>
</head>
