<!DOCTYPE html>
<html ng-app="searchApp">

  {% include search-head.html %}

  <body>
    
    {% include header.html %}
    
    </br>
  
    <div class="row" ng-controller="SearchCtrl">
      <div class="large-12 columns">
        <input type="search" ng-model="searchbox" placeholder="Search">
        <table style="table-layout:fixed; width:100%">
          <thead>
            <tr>
              <th>Posts</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in search | filter: searchbox | orderBy: 'title'">
              <td><a ng-href="{( item.href )}">{( item.title )}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    {% include footer.html %}

    {% include jscripts.html %}
  </body>
</html>
