---
layout: default
---
<br/>
<div class="row" ng-controller="SearchCtrl">
  <div class="large-12 columns">
    <input type="search" ng-model="searchbox" placeholder="Search">
    <table style="table-layout:fixed; width:100%">
    <tbody>
      <thead>
        <tr>
          <td style="width:40%">Categories</td>
          <td style="width:60%">Title</td>
        </tr>
      </thead>
      <tr ng-repeat="item in search | filter: searchbox">
        <td ng-repeat="category in item.category">{( category )}</td>
        <td><a ng-href="{( item.href )}">{( item.title )}</a></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
